a, a:active, a:visited{
 color: #aaa !important;
 text-decoration: none !important;
}

a:hover{
  text-decoration: none;
  color: #027b76 !important;
}

body {
 font-family: Arial, Helvetica, sans-serif;
  color: #333;
  width:100%
}

.wrapper{
  background-image: url('../img/background.jpg');
  background-position: center;
  width: 100%; 
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; 
}

.container{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form{ 
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center; 
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #efefef;
}

h5{
  font-size: 18px;
}

.form_wrapper{
  border-radius: 10px;
  background-color: transparent;
  padding: 80px 20px;
  overflow: auto;
  background: rgba(10,10,10,0.6);
  border: 1px solid #015976;
  display: none;
}

.form-control{
  background-color: rgba(200,200,200,0.5);
  color: #fff;
}

.form-control::-webkit-input-placeholder{
  color: #ccc; font-size: 15px; 
}

.form-control:-moz-placeholder{
  color: #ccc; font-size: 15px;
}

.form-control::-moz-placeholder{
  color: #ccc; font-size: 15px;
}

.form-control:-ms-input-placeholder{
  color: #ccc; font-size: 15px;
}

.form-btn{
  background: #027b76 !important;
  border: none !important;
  color: #efefef !important;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute; 
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  {
  left:  0px;
}

.right-addon .glyphicon { 
  right: 0px;
  top: 6px;
  color: #444;
}

.left-addon input  {
  padding-left:  30px; 
}

.right-addon input {
  padding-right: 30px; 
}

.signup-icon{
  top: 3px;
}

.back-icon{
  top: 2px;
}
